<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProfile name="local">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} %-5level [%X{request_id}] %logger{24} - %msg%n</pattern>
      </encoder>
    </appender>
  </springProfile>
  <springProfile name="!local">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <includeMdc>true</includeMdc>
        <customFields>{"service":"platform-worker"}</customFields>
      </encoder>
    </appender>
  </springProfile>
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
